<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refugio de animales</title>
    <link href="/resources/css/style.css" rel="stylesheet"> 
</head>

<body>
    <div class="container">

        <div class="text-center my-5">
            <h1>Añadir organización</h1> <!-- Título de la página -->
            <hr />
        </div>


        <!-- Formulario para añadir una organización -->
        <div class="">
            <form action="anadir_organizacion" method="POST">
                <!-- El formulario envía los datos a la ruta "anadir_organizacion" con el método POST -->

                <div class="mb-4">
                    <a href="/seleccionar_direccion" class="btn btn-primary">Seleccionar dirección</a>
                    <!-- Enlace para seleccionar una dirección -->
                    <% if (selectedAddress) { %> <!-- Verifica si hay una dirección seleccionada -->
                        <input type="text" class="form-control" id="addOrgDireccion" name="addOrgDireccion"
                            value="<%= selectedAddress ?? '' %>" readonly>
                        <!-- Muestra la dirección seleccionada en un campo de solo lectura -->
                        <% } %>
                </div>
                <div class="mb-4">
                    <label for="addOrgName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="addOrgName" id="addOrgName"
                        placeholder="Ingrese el nombre">
                </div>

                <div class="mb-4">
                    <label for="addOrgDescripcion" class="form-label">Descripción</label>
                    <input type="text" class="form-control" name="addOrgDescripcion" id="addOrgDescripcion"
                        placeholder="Ingrese una descripción">
                </div>
                <div class="mb-4">
                    <label for="addOrgActividades" class="form-label">Actividades</label>
                    <input type="text" class="form-control" name="addOrgActividades" id="addOrgActividades"
                        placeholder="Ingrese las actividades">
                </div>
                <div class="mb-4">
                    <label for="addOrgHoraInicio" class="form-label">Hora de
                        inicio</label> 
                    <input type="text" class="form-control" name="addOrgHoraInicio" id="addOrgHoraInicio"
                        placeholder="Ingrese el horario de inicio">
                </div>
                <div class="mb-4">
                    <label for="addOrgHoraFinal" class="form-label">Hora de
                        cierre</label>
                    <input type="text" class="form-control" name="addOrgHoraFinal" id="addOrgHoraFinal"
                        placeholder="Ingrese el horario de cierre">
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>


            </form>
        </div>

    </div>

</body>