<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refugio de animales</title>
    <link href="resources/css/style.css" rel="stylesheet"> <!-- Enlace al archivo CSS -->
</head>
<body>
    <div class="container-fluid bg-primary">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary"> <!-- Barra de navegación -->
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Refugio de animales</a> <!-- Logo del refugio -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a href="/anadir_organizacion" class="nav-link">Añadir organización</a>
                                <!-- Enlace para añadir una organización -->
                            </li>

                            <li class="nav-item">
                                <a href="/publicaciones" class="nav-link">Publicaciones</a>
                                <!-- Enlace a la página de publicaciones -->
                            </li>

                            <li class="nav-item">
                                <a href="/organizaciones" class="nav-link">Organizaciones</a>
                                <!-- Enlace a la página de organizaciones -->
                            </li>
                    </div>

                    </ul>
                </div>

            </nav>
            <div>

            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
            </script> <!-- Enlace al archivo JavaScript de Bootstrap -->

</body>

</html>