<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refugio de animales</title>
    <link href="/resources/css/style.css" rel="stylesheet"> <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <!-- Enlace a los estilos de Leaflet -->
</head>

<body>
    <div class="container">

        <div class="text-center my-5">
            <h1>Organizaciones</h1>
            <hr />
        </div>

        <!-- Barra de búsqueda -->
        <div class="row justify-content-center mb-3">
            <div class="col-12 col-md-6">
                <form action="/search_organizaciones" method="GET" class="form-inline">
                    <div class="input-group">
                        <input type="text" name="keywords" placeholder="Buscar por servicios o actividades"
                            class="form-control">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <% organizaciones.forEach(organizacion=> { %>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card mb-5 shadow-sm" data-tipo="<%= organizacion.tipo %>">
                        <div class="card-body">
                            <div class="card-title">
                                <h2>
                                    <%= organizacion.nombre %>
                                </h2>
                            </div>
                            <div class="card-text">
                                <p>
                                    <%= organizacion.descripcion %>
                                </p>
                                <p>
                                    <%= organizacion.actividades %>
                                </p>
                                <p>
                                    <%= organizacion.direccion %>
                                </p>
                                <p>Horario: <%= organizacion.hora_inicio %> a <%= organizacion.hora_final %>
                                </p>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary"
                            onclick="mostrarUbicacion('<%= organizacion.direccion %>')" data-bs-toggle="modal"
                            data-bs-target="#mapModal">
                            Mostrar ubicación
                        </button>

                        <div class="modal fade" id="mapModal" tabindex="-1" aria-hidden="true"
                            aria-labelledby="modalTitle">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalTitle"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="map-container">
                                            <div id="map-template"></div>
                                        </div>


                                    </div>

                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>

        </div>




    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
        </script> <!-- Enlace al archivo JavaScript de Bootstrap -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <!-- Enlace al archivo JavaScript de Leaflet -->
    <script src="/resources/js/main.js"></script> <!-- Enlace al archivo JavaScript principal -->

</body>