<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refugio de animales</title>
    <link href="/resources/css/style.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="text-center my-5">
            <h1>Avisos</h1>
            <hr />
        </div>

        <!-- Barra de búsqueda -->
        <div class="row justify-content-center mb-3">
            <div class="col-12 col-md-6">
                <form action="/search" method="GET" class="form-inline">
                    <div class="input-group">
                        <input type="text" name="keywords" placeholder="Buscar por raza o caracteristicas"
                            class="form-control">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Publicaciones -->
        <div class="row">
            <% publicaciones.forEach(publicacion=> { %>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card mb-5 shadow-sm" data-tipo="<%= publicacion.tipo %>">
                        <div class="card-header">
                            <strong class="text-body-tertiary"><%= publicacion.fecha %></strong>
                        </div>
                        <img src="<%= publicacion.foto %>" class="img-fluid">
                        <div class="card-body">
                            <div class="card-title">
                                <% if (publicacion.tipo===1) { %>
                                    <h2>Mascota perdida</h2>
                                    <% } else if (publicacion.tipo===2) { %>
                                        <h2>Mascota en adopción</h2>
                                        <% } else { %>
                                            <h2>Mascota encontrada</h2>
                                            <% } %>
                            </div>
                            <div class="card-text">
                                <p><strong class="text-primary">Raza:</strong>
                                    <%= publicacion.raza %>
                                </p>
                                <p><strong class="text-primary">Edad aproximada:</strong>
                                    <%= publicacion.edad %>
                                </p>
                                <p><strong class="text-primary">Caracteristicas:</strong>
                                    <%= publicacion.caracteristicas %>
                                </p>
                                <% if (publicacion.detalle !=null) { %>
                                    <p><strong class="text-primary">Cuidados:</strong>
                                        <%= publicacion.detalle %>
                                    </p>

                                    <% } %>
                                        <% if (publicacion.direccion !=null) { %>
                                            <p><strong class="text-primary">Encontrado en:</strong>
                                                <%= publicacion.direccion %>
                                            </p>
                                            <% } %>
                                                <% if (publicacion.fecha_suceso !=null) { %>
                                                    <p><strong class="text-primary">Fecha de encuentro:</strong>
                                                        <%= publicacion.fecha_suceso %>
                                                    </p>
                                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>

</body>