<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refugio de animales</title>
    <link href="/resources/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="text-center my-5">
            <h1>Seleccionar dirección</h1>
            <hr />
        </div>

        <!-- Formulario para seleccionar una dirección -->
        <div>
            <!-- Barra de búsqueda -->
            <div class="row justify-content-center mb-3">
                <div class="col-12 col-md-6">
                    <form action="/buscar_direcciones" method="GET" class="form-inline">
                        <div class="input-group">
                            <input type="text" name="dir" placeholder="Ingresa la dirección" class="form-control">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
            <ul>
                <% direcciones.forEach(function(direccion) { %>
                    <% if (direccion.coordenadas && direccion.coordenadas.x) { %>
                      <form action="/guardar_direccion" method="POST" class="direccion-form">
                        <button type="submit" class="btn btn-primary direccion-btn" name="addDireccion"
                          value="<%= direccion.direccion %> <%= direccion.coordenadas.x %> <%= direccion.coordenadas.y %>">
                          <%= direccion.direccion %> <%= direccion.coordenadas.x %> <%= direccion.coordenadas.y %>
                        </button>
                        <input type="hidden" name="addDireccionHidden" value="<%= direccion.direccion %>">
                      </form>
                    <% } %>
                  <% }) %>
                  

            </ul>

        </div>


    </div>



</body>